.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem input {
    width: 20px
}

.TodoItem button {
    cursor: pointer;
    color: gray;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.TodoItem .NotDone {
    flex: 1;
}

.TodoItem .Done {
    flex: 1;
    text-decoration: line-through;
}